* {
  background-color: rgb(78, 43, 139);
}

.grid {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 50px repeat(3, 100px) 60px;
}
.turn{
  border: 1px solid white;
  margin: 10px;
  color: white;
  text-align: center;
  padding: 10px 0px;
  border-radius: 7px;
}
.square {
  background-color: aquamarine;
  margin: 10px;
  border-radius: 10px;
}
.score{
  border: 1px solid yellow;
  margin: 10px;
  color: white;
  text-align: center;
  padding: 10px 0px;
  border-radius: 7px;
}